@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.main {
  width: 100vw;
  height: 100vh;
  background: #000;
  position: relative;
}

.title {
  position: absolute;
  width: 100%;
  display: flex;
  color: white;
  font-size: 12vw;
  gap: 1vw;
  overflow: visible;
  // justify-content: center;
  // align-items: center;
  left: 0.5%;
  bottom: -31%;

  div {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: visible;

    .img {
      width: 100%;
      height: auto;
      overflow: visible;
      mix-blend-mode: difference;
    }
  }
}

// slider styles
.clickAnywhereSlider {
  display: flex;
  flex: none;
  // overflow: hidden;
  position: absolute;
  top: 3%;
  width: 100%;

  .sliderWrapper {
    display: flex;
    color: white;

    position: relative;
    .slider {
      display: flex;

      .click {
        display: flex;
        white-space: nowrap;
        align-items: center;
        gap: 4vw;
        margin-right: 4vw;

        h1 {
          font-family: "Roboto", sans-serif;
          font-weight: 300;
          font-style: normal;
          font-size: 1.3vw;
          color: rgb(143, 141, 141);
          // letter-spacing: 0.08em;
        }
      }
    }

    .slider:nth-of-type(2) {
      position: absolute;
      left: 100%;
      top: 0;
    }
  }
}

.cursor {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #fff;
  // color: white;
  position: fixed;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
  pointer-events: none;
  mix-blend-mode: difference;
}
