@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap");

.main {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  font-family: "Bodoni Moda", serif;
}

.svgWrapper {
  position: absolute;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;

  & * {
    position: absolute;
  }
}

.loadingWrapper {
  // height: 100vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: end;
  justify-content: space-around;
  position: fixed;
  z-index: 99;
  // background-color: #141516;

  div {
    color: white;
    // background: orange;
    font-size: 15vw;
    position: relative;
    overflow: hidden;
    // border: white 1px solid;
  }
}

// .starSVG {
//   transition: all 0.8s cubic-bezier(0.76, 0, 0.24, 1);
// }
